{if $contact_infos.phone}
<div class="block-contact-top">
	<div class="contact_cms">
	<span class="cms1"> {l s=' Free Support 24/7' d='Shop.Theme.Global'}</span>
	<span class="cms2">{$contact_infos.phone}</span>
	</div>
</div>
{/if}